<% provide(:title, @user.name) %>
<div class="container show-container">
  <div class="row">
<%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-secondary btn-md btn-extend" %></li>
<%= link_to "新しいコメント", new_micropost_path, class: "btn btn-secondary btn-md btn-extend" %>
  </div>
  <div class="row">
  <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
    <div class="col">
      <%= render 'layouts/log' %>
    </div>
  </div>
</div>

